# Environment variables
.env
.env.local
.env.*.local
*node_modules
server/.env
client/.env
client/.env.local

# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
/node_modules
